# 19B-080-SE, Abdul Wassay
# Section B Lab 14

# Q.01

In [3]:
import sqlite3
conn = sqlite3.connect('wassay.db')
def sql_table(con):
    cursorObj=con.cursor()
#(a)Insert Records
    cursorObj.execute("CREATE TABLE IF NOT EXISTS Classmates(Studentid INTEGER PRIMARY KEY,Name TEXT,Address TEXT,Department TEXT,Age REAL,DOB REAL,Hobbies TEXT,Number INTEGER)")
    cursorObj.execute("INSERT INTO Classmates VALUES(1, 'Ali','Sukkur','SE',18,'2001-03-10','Swimming',03434565512)")
    cursorObj.execute("INSERT INTO Classmates VALUES(2, 'Hamza','Karachi','CS',19,'2002-09-01','Traveling',03245345654)")
    cursorObj.execute("INSERT INTO Classmates VALUES(3, 'Ayesha','Karachi','SE',18,'1999-05-21','Book Reading',03234323456)")
    cursorObj.execute("INSERT INTO Classmates VALUES(4, 'Asad','Lahore','CS',17,'2001-03-10','Programming',03254125485)")
    cursorObj.execute("INSERT INTO Classmates VALUES(5, 'Aqsa','Islamabad','CS',19,'2002-09-01','Writing',03251254785)")
    cursorObj.execute("INSERT INTO Classmates VALUES(6, 'Areesha','Lahore','SE',18,'1999-05-21','Gaming',03125478451)")
    cursorObj.execute("INSERT INTO Classmates VALUES(7, 'Abid','Sukkur','CS',17,'2000-03-10','Gardening',03263254857)")
    cursorObj.execute("INSERT INTO Classmates VALUES(8, 'Alisha','Karachi','SE',19,'2001-09-01','Swimming',03215485264)")
    cursorObj.execute("INSERT INTO Classmates VALUES(9, 'Haji','Hyderabad','CS',18,'1999-05-21','Singing',03265214587)")
    cursorObj.execute("INSERT INTO Classmates VALUES(10, 'Aqsa','Hyderabad','SE',19,'1998-05-21','Dancing',03652145272)")
    con.commit()
    
sql_table(conn)

In [8]:
#(b)
c = conn.cursor()
c.execute('UPDATE Classmates SET Number = 03022554128 WHERE Studentid=1')

#(c)
c.execute('DELETE FROM Classmates WHERE Studentid = 10')
conn.commit()

In [1]:
#(d)
c.execute('SELECT * FROM Classmates')
data = c.fetchall()
for row in data:
    print(row)

NameError: name 'c' is not defined

In [12]:
#(e)
c.execute("SELECT Name FROM Classmates WHERE Address='Karachi'")
names = c.fetchall()
print(names)

[('Hamza',), ('Ayesha',), ('Alisha',)]

In [13]:
#(f)
c.execute("SELECT Name FROM Classmates WHERE Age=18")
names = c.fetchall()
print(names)

[('Ali',), ('Ayesha',), ('Areesha',), ('Haji',)]

In [14]:
#(g)
c.execute("SELECT Name FROM Classmates WHERE Hobbies='Programming'")
names = c.fetchall()
print(names)

[('Asad',)]

# Q.02

In [20]:
#(a)
import sqlite3
conn = sqlite3.connect("Northwind.db")
def sql_fetch(con):
    cursorObj=con.cursor()
    cursorObj.execute('SELECT * FROM Products')
    rows = cursorObj.fetchall()
    length=0
    for row in rows:
        length+=1
    print('Total No. of rows:',length)
sql_fetch(conn)

Total No. of rows: 77

In [25]:
#(b)
c = conn.cursor()
c.execute('SELECT * FROM Categories')
rows = c.fetchall()
length=0
for row in rows:
    length += 1
print('Total No. of rows is:',length)

Total No. of rows is: 8

In [29]:
#(c)
c = conn.cursor()
c.execute('SELECT ProductName,QuantityPerUnit FROM Products')
rows =c.fetchall()
length = 0
for row in rows:
    length += 1
print('The number of records extracted are:',length)

The number of records extracted are: 77

In [36]:
#(d)
def sql_fetch(con):
    c = con.cursor()
    c.execute('SELECT CategoryID,CategoryName,Description FROM Categories where CategoryName like "G%"')
    rows =c.fetchall()
    for row in rows:
        print(row)
sql_fetch(conn)

(5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal')

In [37]:
#(e)
cursorObj = conn.cursor()
cursorObj.execute('SELECT ProductID,ProductName FROM Products where discontinued="1" order by ProductName')
rows =cursorObj.fetchall()
print(rows)

[(17, 'Alice Mutton'), (5, "Chef Anton's Gumbo Mix"), (24, 'Guaraná Fantástica'), (9, 'Mishi Kobe Niku'), (53, 'Perth Pasties'), (28, 'Rössle Sauerkraut'), (42, 'Singaporean Hokkien Fried Mee'), (29, 'Thüringer Rostbratwurst')]

In [51]:
#(f)
cursorObj = conn.cursor()
cursorObj.execute('SELECT ProductID,ProductName FROM Products where discontinued="0" order by ProductName')
rows =cursorObj.fetchall()
for row in rows:
    print(row, end=", ")

(3, 'Aniseed Syrup'), (40, 'Boston Crab Meat'), (60, 'Camembert Pierrot'), (18, 'Carnarvon Tigers'), (1, 'Chai'), (2, 'Chang'), (39, 'Chartreuse verte'), (4, "Chef Anton's Cajun Seasoning"), (48, 'Chocolade'), (38, 'Côte de Blaye'), (58, 'Escargots de Bourgogne'), (52, 'Filo Mix'), (71, 'Flotemysost'), (33, 'Geitost'), (15, 'Genen Shouyu'), (56, 'Gnocchi di nonna Alice'), (31, 'Gorgonzola Telino'), (6, "Grandma's Boysenberry Spread"), (37, 'Gravad lax'), (69, 'Gudbrandsdalsost'), (44, 'Gula Malacca'), (26, 'Gumbär Gummibärchen'), (22, "Gustaf's Knäckebröd"), (10, 'Ikura'), (36, 'Inlagd Sill'), (43, 'Ipoh Coffee'), (41, "Jack's New England Clam Chowder"), (13, 'Konbu'), (76, 'Lakkalikööri'), (67, 'Laughing Lumberjack Lager'), (74, 'Longlife Tofu'), (65, 'Louisiana Fiery Hot Pepper Sauce'), (66, 'Louisiana Hot Spiced Okra'), (51, 'Manjimup Dried Apples'), (32, 'Mascarpone Fabioli'), (49, 'Maxilaku'), (72, 'Mozzarella di Giovanni'), (30, 'Nord-Ost Matjeshering'), (8, 'Northwoods Cranberry Sauce'), (25, 'NuNuCa Nuß-Nougat-Creme'), (77, 'Original Frankfurter grüne Soße'), (70, 'Outback Lager'), (16, 'Pavlova'), (55, 'Pâté chinois'), (11, 'Queso Cabrales'), (12, 'Queso Manchego La Pastora'), (59, 'Raclette Courdavault'), (57, 'Ravioli Angelo'), (75, 'Rhönbräu Klosterbier'), (45, 'Rogede sild'), (73, 'Röd Kaviar'), (34, 'Sasquatch Ale'), (27, 'Schoggi Schokolade'), (68, 'Scottish Longbreads'), (20, "Sir Rodney's Marmalade"), (21, "Sir Rodney's Scones"), (61, "Sirop d'érable"), (46, 'Spegesild'), (35, 'Steeleye Stout'), (62, 'Tarte au sucre'), (19, 'Teatime Chocolate Biscuits'), (14, 'Tofu'), (54, 'Tourtière'), (23, 'Tunnbröd'), (7, "Uncle Bob's Organic Dried Pears"), (50, 'Valkoinen suklaa'), (63, 'Vegie-spread'), (64, 'Wimmers gute Semmelknödel'), (47, 'Zaanse koeken'),

In [53]:
#(g)
cursorObj = conn.cursor()
cursorObj.execute("select ProductName,UnitPrice from Products order by UnitPrice Desc")
rows=cursorObj.fetchall()
for row in rows:
    print(row)

('Côte de Blaye', 263.5)
('Thüringer Rostbratwurst', 123.79)
('Mishi Kobe Niku', 97)
("Sir Rodney's Marmalade", 81)
('Carnarvon Tigers', 62.5)
('Raclette Courdavault', 55)
('Manjimup Dried Apples', 53)
('Tarte au sucre', 49.3)
('Ipoh Coffee', 46)
('Rössle Sauerkraut', 45.6)
('Schoggi Schokolade', 43.9)
('Vegie-spread', 43.9)
('Northwoods Cranberry Sauce', 40)
('Alice Mutton', 39)
('Queso Manchego La Pastora', 38)
('Gnocchi di nonna Alice', 38)
('Gudbrandsdalsost', 36)
('Mozzarella di Giovanni', 34.8)
('Camembert Pierrot', 34)
('Wimmers gute Semmelknödel', 33.25)
('Perth Pasties', 32.8)
('Mascarpone Fabioli', 32)
('Gumbär Gummibärchen', 31.23)
('Ikura', 31)
("Uncle Bob's Organic Dried Pears", 30)
("Sirop d'érable", 28.5)
('Gravad lax', 26)
('Nord-Ost Matjeshering', 25.89)
("Grandma's Boysenberry Spread", 25)
('Pâté chinois', 24)
('Tofu', 23.25)
("Chef Anton's Cajun Seasoning", 22)
('Flotemysost', 21.5)
("Chef Anton's Gumbo Mix", 21.35)
('Louisiana Fiery Hot Pepper Sauce', 21.05)
('Queso Cabrales', 21)
("Gustaf's Knäckebröd", 21)
('Maxilaku', 20)
('Ravioli Angelo', 19.5)
('Gula Malacca', 19.45)
('Chang', 19)
('Inlagd Sill', 19)
('Boston Crab Meat', 18.4)
('Chai', 18)
('Steeleye Stout', 18)
('Chartreuse verte', 18)
('Lakkalikööri', 18)
('Pavlova', 17.45)
('Louisiana Hot Spiced Okra', 17)
('Valkoinen suklaa', 16.25)
('Genen Shouyu', 15.5)
('Outback Lager', 15)
('Röd Kaviar', 15)
('NuNuCa Nuß-Nougat-Creme', 14)
('Sasquatch Ale', 14)
('Singaporean Hokkien Fried Mee', 14)
('Laughing Lumberjack Lager', 14)
('Escargots de Bourgogne', 13.25)
('Original Frankfurter grüne Soße', 13)
('Chocolade', 12.75)
('Gorgonzola Telino', 12.5)
('Scottish Longbreads', 12.5)
('Spegesild', 12)
('Aniseed Syrup', 10)
("Sir Rodney's Scones", 10)
('Longlife Tofu', 10)
("Jack's New England Clam Chowder", 9.65)
('Rogede sild', 9.5)
('Zaanse koeken', 9.5)
('Teatime Chocolate Biscuits', 9.2)
('Tunnbröd', 9)
('Rhönbräu Klosterbier', 7.75)
('Tourtière', 7.45)
('Filo Mix', 7)
('Konbu', 6)
('Guaraná Fantástica', 4.5)
('Geitost', 2.5)

### In above program, we have obtained the Product name and unit price from products table and it is sorted by descending order.

In [63]:
#(h)
cursorObj=conn.cursor()
cursorObj.execute("select ProductID,ProductName,UnitPrice from Products WHERE (((UnitPrice)<20) AND ((Discontinued)=False)) Order by UnitPrice Desc")
rows=cursorObj.fetchall()
for row in rows:
    print(row, end=', ')

(57, 'Ravioli Angelo', 19.5), (44, 'Gula Malacca', 19.45), (2, 'Chang', 19), (36, 'Inlagd Sill', 19), (40, 'Boston Crab Meat', 18.4), (1, 'Chai', 18), (35, 'Steeleye Stout', 18), (39, 'Chartreuse verte', 18), (76, 'Lakkalikööri', 18), (16, 'Pavlova', 17.45), (66, 'Louisiana Hot Spiced Okra', 17), (50, 'Valkoinen suklaa', 16.25), (15, 'Genen Shouyu', 15.5), (70, 'Outback Lager', 15), (73, 'Röd Kaviar', 15), (25, 'NuNuCa Nuß-Nougat-Creme', 14), (34, 'Sasquatch Ale', 14), (67, 'Laughing Lumberjack Lager', 14), (58, 'Escargots de Bourgogne', 13.25), (77, 'Original Frankfurter grüne Soße', 13), (48, 'Chocolade', 12.75), (31, 'Gorgonzola Telino', 12.5), (68, 'Scottish Longbreads', 12.5), (46, 'Spegesild', 12), (3, 'Aniseed Syrup', 10), (21, "Sir Rodney's Scones", 10), (74, 'Longlife Tofu', 10), (41, "Jack's New England Clam Chowder", 9.65), (45, 'Rogede sild', 9.5), (47, 'Zaanse koeken', 9.5), (19, 'Teatime Chocolate Biscuits', 9.2), (23, 'Tunnbröd', 9), (75, 'Rhönbräu Klosterbier', 7.75), (54, 'Tourtière', 7.45), (52, 'Filo Mix', 7), (13, 'Konbu', 6), (33, 'Geitost', 2.5),

#### In above program, we have obtained the name, id and price of products whose price is less than 20 and are not discontinued.

In [54]:
#(i)
cursorObj = conn.cursor()
cursorObj.execute("select avg(UnitPrice) from Products")
average=cursorObj.fetchall()
print(average)

[(28.866363636363637,)]

In [56]:
#(j)
cursorObj = conn.cursor()
cursorObj.execute('SELECT DISTINCT ProductName,UnitPrice FROM Products where UnitPrice > (select avg(UnitPrice) from Products) order by UnitPrice ')
rows =cursorObj.fetchall()
for row in rows:
    print(row)

("Uncle Bob's Organic Dried Pears", 30)
('Ikura', 31)
('Gumbär Gummibärchen', 31.23)
('Mascarpone Fabioli', 32)
('Perth Pasties', 32.8)
('Wimmers gute Semmelknödel', 33.25)
('Camembert Pierrot', 34)
('Mozzarella di Giovanni', 34.8)
('Gudbrandsdalsost', 36)
('Queso Manchego La Pastora', 38)
('Gnocchi di nonna Alice', 38)
('Alice Mutton', 39)
('Northwoods Cranberry Sauce', 40)
('Schoggi Schokolade', 43.9)
('Vegie-spread', 43.9)
('Rössle Sauerkraut', 45.6)
('Ipoh Coffee', 46)
('Tarte au sucre', 49.3)
('Manjimup Dried Apples', 53)
('Raclette Courdavault', 55)
('Carnarvon Tigers', 62.5)
("Sir Rodney's Marmalade", 81)
('Mishi Kobe Niku', 97)
('Thüringer Rostbratwurst', 123.79)
('Côte de Blaye', 263.5)