# 19B-080-SE, Abdul Wassay 
# Section B, 25 Dec 19

# Examples:

# Program 01

In [2]:
phonebook1={'123-45-67','234-56-78','345-67-89','123-45-67','345-67-89'}
print(phonebook1)
set_len=len(phonebook1)
print('The length of the phonebook is:',set_len)
print('The give phonebook is:',phonebook1)

{'123-45-67', '345-67-89', '234-56-78'}
The length of the phonebook is: 3
The give phonebook is: {'123-45-67', '345-67-89', '234-56-78'}

# Program 02

In [6]:
mix_data={'Usman Institute of Technology',17.5,(1,2,3,4,5,6)}
print(mix_data)
set_len=len(mix_data)
print('The length of set is:',set_len)

{17.5, 'Usman Institute of Technology', (1, 2, 3, 4, 5, 6)}
The length of set is: 3

In [7]:
mix_data={{1:'Wassay',2:'Sardar'},[1,2,3,4,5,6]}
print(mix_data)
set_len=len(mix_data)
print('The length of set is:',set_len)

#This contains error because keys of dictionary are not hashables(immutables).

TypeError: unhashable type: 'dict'

# Program 03

In [1]:
datascientist=set(['Python','R','SQL','Git','SAS','Tableau'])
dataengineer=set(['Pyhon','Java','Scala','Git','SQL'])
print('For a Data Scientist specialization you need:',datascientist)
print('For a Data Engineer specialization you need:',dataengineer)

For a Data Scientist specialization you need: {'R', 'Git', 'SAS', 'SQL', 'Tableau', 'Python'}
For a Data Engineer specialization you need: {'Java', 'Pyhon', 'Git', 'Scala', 'SQL'}

# Program 04

In [3]:
My_empty_set=set()
My_empty_dic1=dict()
My_empty_dic2={}
print(My_empty_set)
print(My_empty_dic1)
print(My_empty_dic2)

set()
{}
{}

# Program 05

In [8]:
My_topStudents={'Bassam','Usman','Yusra','Rafeh','Ahad','Dawood','Asma'}
print('My top scoring students in Programming Fundamentals are:',My_topStudents)
print('Oh! I guess i missed one student, let me add his name too.')
print('Previously I have added '+str(len(My_topStudents))+' students in my list.')
My_topStudents.add('Khurram')
print('Thanks, I have remembered him.')
print('Now my top scoring students are:',My_topStudents)
print('After adding i have '+str(len(My_topStudents))+' students in my list.')

My top scoring students in Programming Fundamentals are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Oh! I guess i missed one student, let me add his name too.
Previously I have added 7 students in my list.
Thanks, I have remembered him.
Now my top scoring students are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Khurram', 'Bassam', 'Usman', 'Asma'}
After adding i have 8 students in my list.

# Program 06

In [10]:
My_topStudents={'Bassam','Usman','Yusra','Rafeh','Ahad','Dawood','Asma'}
print('My top scoring students in Programming Fundamentals are:',My_topStudents)
print('Oh! I guess i missed one student, let me add his name too.')
print('Previously I have added '+str(len(My_topStudents))+' students in my list.')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him.')
print('Now my top scoring students are:',My_topStudents)
print('After adding i have '+str(len(My_topStudents))+' students in my list.')
print('Oh! i think have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' in my list.')

My top scoring students in Programming Fundamentals are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Oh! I guess i missed one student, let me add his name too.
Previously I have added 7 students in my list.
Thanks, I have remembered him.
Now my top scoring students are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Khurram Khalil', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
After adding i have 9 students in my list.
Oh! i think have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 8 in my list.

# Program 07

In [12]:
My_topStudents={'Bassam','Usman','Yusra','Rafeh','Ahad','Dawood','Asma'}
print('My top scoring students in Programming Fundamentals are:',My_topStudents)
print('Oh! I guess i missed one student, let me add his name too.')
print('Previously I have added '+str(len(My_topStudents))+' students in my list.')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him.')
print('Now my top scoring students are:',My_topStudents)
print('After adding i have '+str(len(My_topStudents))+' students in my list.')
print('Oh! i think have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' in my list.')
My_topStudents.discard('Khurram Khan')
print('Now my top scoring students names after removing extra name are:',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' students in my list.')

My top scoring students in Programming Fundamentals are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Oh! I guess i missed one student, let me add his name too.
Previously I have added 7 students in my list.
Thanks, I have remembered him.
Now my top scoring students are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Khurram Khalil', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
After adding i have 9 students in my list.
Oh! i think have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 8 in my list.
Now my top scoring students names after removing extra name are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 7 students in my list.

>In the given codings of program 06 and 07, we have used two different types of removing elements from set. But in program 07 we have used both methods of removing elements from list on the same element (Khurram Khalil) this why it isn't showing any difference but in the above coding i have changed the element.

# Program 08

In [13]:
My_topStudents={'Bassam','Usman','Yusra','Rafeh','Ahad','Dawood','Asma'}
print('My top scoring students in Programming Fundamentals are:',My_topStudents)
print('Oh! I guess i missed one student, let me add his name too.')
print('Previously I have added '+str(len(My_topStudents))+' students in my list.')
My_topStudents.add('Khurram Khalil')
My_topStudents.add('Khurram Khan')
print('Thanks, I have remembered him.')
print('Now my top scoring students are:',My_topStudents)
print('After adding i have '+str(len(My_topStudents))+' students in my list.')
print('Oh! i think have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are:',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' in my list.')
My_topStudents.discard('Khurram Khan')
print('Now my top scoring students names after removing extra name are:',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' students in my list.')
My_topStudents.pop()
print('Now my top scoring students names after removing extra name are',My_topStudents)
print('Now after removing i have '+str(len(My_topStudents))+' students in my list.')

My top scoring students in Programming Fundamentals are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Oh! I guess i missed one student, let me add his name too.
Previously I have added 7 students in my list.
Thanks, I have remembered him.
Now my top scoring students are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Khurram Khalil', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
After adding i have 9 students in my list.
Oh! i think have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are: {'Khurram Khan', 'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 8 in my list.
Now my top scoring students names after removing extra name are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 7 students in my list.
Now my top scoring students names after removing extra name are {'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Now after removing i have 6 students in my list.

# Prgram 09

In [16]:
My_topStudents={'Bassam','Usman','Yusra','Rafeh','Ahad','Dawood','Asma'}
print('My top scoring students in Programming Fundamentals are:',My_topStudents)
print('Lets clear this list and prepare new list for final exams.')
My_topStudents=My_topStudents.clear()
print('After clearing the set i have:',My_topStudents)

My top scoring students in Programming Fundamentals are: {'Rafeh', 'Ahad', 'Yusra', 'Dawood', 'Bassam', 'Usman', 'Asma'}
Lets clear this list and prepare new list for final exams.
After clearing the set i have: None

# Program 10

In [22]:
phonebook1={'123-45-67','234-56-78','345-67-89','123-45-67','345-67-89'}
phonebook3={'345-67-89','456-78-90'}
print('Phonebook1 is:',phonebook1)
print('Phonebook3 is:',phonebook3)
print('The Union of phonebook1 and phonebook3 is:',phonebook1 | phonebook3)
print('The union of phonebook3 and phonebook1 is:',phonebook3 | phonebook1)
print('The intersection of phonebook1 and phonebook3 is:',phonebook1 & phonebook3)
print('The intersection of phonebook3 and phonebook1 is:',phonebook3 & phonebook1)
print('The difference between phonebook1 and phonebook3 is:',phonebook1 - phonebook3)
print('The difference between phonebook3 and phonebook1 is:',phonebook3 - phonebook1)
print('The symmetric difference between phonebook1 and phonebook3 is:',phonebook1 ^ phonebook3)
print('The symmetric difference between phonebook3 and phonebook1 is:',phonebook3 ^ phonebook1)

Phonebook1 is: {'234-56-78', '345-67-89', '123-45-67'}
Phonebook3 is: {'345-67-89', '456-78-90'}
The Union of phonebook1 and phonebook3 is: {'456-78-90', '234-56-78', '345-67-89', '123-45-67'}
The union of phonebook3 and phonebook1 is: {'456-78-90', '234-56-78', '345-67-89', '123-45-67'}
The intersection of phonebook1 and phonebook3 is: {'345-67-89'}
The intersection of phonebook3 and phonebook1 is: {'345-67-89'}
The difference between phonebook1 and phonebook3 is: {'234-56-78', '123-45-67'}
The difference between phonebook3 and phonebook1 is: {'456-78-90'}
The symmetric difference between phonebook1 and phonebook3 is: {'123-45-67', '456-78-90', '234-56-78'}
The symmetric difference between phonebook3 and phonebook1 is: {'234-56-78', '456-78-90', '123-45-67'}

# Problems:

# Q.01

In [1]:
bestStudents=set()
while len(bestStudents)<5:
    name=input('Enter the student name: ')
    bestStudents.add(name)
print('The five best students are:',bestStudents)

Enter the student name: Ali
Enter the student name: Hamza
Enter the student name: Arslan
Enter the student name: Aqsa
Enter the student name: Asma
The five best students are: {'Asma', 'Hamza', 'Arslan', 'Aqsa', 'Ali'}

# Q.02

In [24]:
bestStudents={'Ali','Hamza','Arslan','Aqsa','Asma'}
print('The best students are:',bestStudents)
n=0
while n<2:
    name=input('Enter the name of best students who left UIT: ')
    bestStudents.remove(ask)
    n+=1
    break
print('After removing two students who left UIT, we have:',bestStudents)

The best students are: {'Ali', 'Hamza', 'Arslan', 'Aqsa', 'Asma'}
Enter the name of best students who left UIT: Hamza
Enter the name of best students who left UIT: Aqsa
After removing two students who left UIT, we have: {'Ali', 'Arslan', 'Asma'}

# Q.03

In [7]:
best_dishes=set()
while True:
    dish=input('Enter the name of best dish: ')
    best_dishes.add(dish)
    ask=input('Do you  want to add another dish?(y/n): ')
    if ask=='y':
        continue
    else:
        break
print('The length of dishes list is: '+str(len(best_dishes))+' and the list is:',best_dishes)
n=0
while len(best_dishes)>0:
    best_dishes.pop()
    n+=1
    print('After poping '+str(n)+' dishe(s) from list we have:',best_dishes)
print('The list is empty:',best_dishes)

Enter the name of best dish: Biryani
Do you  want to add another dish?(y/n): y
Enter the name of best dish: Shahi Daal
Do you  want to add another dish?(y/n): y
Enter the name of best dish: Qeema
Do you  want to add another dish?(y/n): y
Enter the name of best dish: Mix Sabzi
Do you  want to add another dish?(y/n): y
Enter the name of best dish: Vegetable Pulao
Do you  want to add another dish?(y/n): y
Enter the name of best dish: Nihari
Do you  want to add another dish?(y/n): n
The length of dishes list is: 6 and the list is: {'Nihari', 'Biryani', 'Mix Sabzi', 'Qeema', 'Vegetable Pulao', 'Shahi Daal'}
After poping 1 dishe(s) from list we have: {'Biryani', 'Mix Sabzi', 'Qeema', 'Vegetable Pulao', 'Shahi Daal'}
After poping 2 dishe(s) from list we have: {'Mix Sabzi', 'Qeema', 'Vegetable Pulao', 'Shahi Daal'}
After poping 3 dishe(s) from list we have: {'Qeema', 'Vegetable Pulao', 'Shahi Daal'}
After poping 4 dishe(s) from list we have: {'Vegetable Pulao', 'Shahi Daal'}
After poping 5 dishe(s) from list we have: {'Shahi Daal'}
After poping 6 dishe(s) from list we have: set()
The list is empty: set()

# Q.04

In [1]:
univ_set = set(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N'])
student_hockey = set(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u'])
both_student = set(['v','w','x','y','z','A','B','C','D','E'])
student_cricket = set()
a = univ_set-student_hockey
student_cricket.update(a-both_student)
print('there are '+str(len(univ_set))+' students')
print('Students who play cricket only are: '+str(len(student_cricket)))
print('Students who play hocket only are: '+str(len(student_hockey)))
print('Those who play both: '+str(len(both_student)))

there are 40 students
Students who play cricket only are: 9
Students who play hocket only are: 21
Those who play both: 10

# Q.05

In [5]:
total_speakers = 110
english_speakers = {25,20,17,13}
spanish_speakers = {20,13,9,10}
french_speakers = {17,13,9,11}

#(a)
print(f'those who can speak english and spanish but not french are: '
      '{(english_speakers|spanish_speakers)-french_speakers}')

#(b)
print(f'those who neither speak english ,spanish, nor french are: '
      '{total_speakers-sum(english_speakers|spanish_speakers|french_speakers)}')

#(c)
print(f'those who speak french,but neither english nor spanish: {french_speakers-(english_speakers|spanish_speakers)}')

#(d)
single_set=set()
single_set.update(english_speakers-(spanish_speakers|french_speakers))
single_set.update(spanish_speakers-(english_speakers|french_speakers))
single_set.update(french_speakers-(english_speakers|spanish_speakers))
print(f'those who speak only one of the three languages: {single_set}')

#(e)
double_set=set()
double_set.update((english_speakers&spanish_speakers)-french_speakers)
double_set.update((english_speakers&french_speakers)-spanish_speakers)
double_set.update((french_speakers&spanish_speakers)-english_speakers)
print(f'those who speak exactly two of the three languages: {double_set}')

those who can speak english and spanish but not french are: {(english_speakers|spanish_speakers)-french_speakers}
those who neither speak english ,spanish, nor french are: {total_speakers-sum(english_speakers|spanish_speakers|french_speakers)}
those who speak french,but neither english nor spanish: {11}
those who speak only one of the three languages: {25, 10, 11}
those who speak exactly two of the three languages: {17, 20, 9}